$theme-colors: (
  "primary": orange,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark,
);

// overide card
$card-border-color: #ffffff;
$card-cap-bg: #fff;
